################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Computer-Systems/v17/Browse.VC.opendb
